<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' type="text/css" href='/style/test.css'>
  <link  rel = "stylesheet" href = "https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src = "https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
  <!-- <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script> -->
  <title>Document</title>
</head>
<body>
  
  <h2>Test requested page rendered</h2>

  


  <!-- <div class='box'> 

    <div>

    </div>

    <div>

    </div>

    <div>

    </div>

    <div>

    </div>

    <div>
      
    </div>

    <div>
      
    </div>

    <div>
      
      </div>
  

  </div> -->


  <input id = "searchField" type = 'search' placeholder="search by id">


  <button id='searchBtn'>search</button>


  <div class='display'>


  

  </div>


  <input type='search' placeholder="search Login"> 


<!-- 
  <div class="col-md-4 md-form dropDown">
      <div class="searchable">
          <input type="text" placeholder="Search Logins" onkeyup="filterFunction(this,event)">
          <ul>
        
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>

          </ul>
      </div>       
  </div> -->


<div class = 'list'>
<!-- 
    <input list="nameList" id="names" name="name" autocomplete="off" />
  
    <datalist id="nameList" class="scrollable">
    
    </datalist> -->
    
    <!-- <input type="text" id="names">

    <select id = 'nameList'>
    
      <option>One</option>
      <option>Two</option>
    
    </select> -->

</div>



<div>
  
  <input id='name' type='text' name='login' placeholder="enter login">
  <input id='last' type='text' name='lastname' placeholder="enter lastname"> 
  <input id='role' type="text" name= 'job' placeholder="enter role">

  <button id='detailbutton'> submit </button>

</div>



  <div class = 'testing'>

    <p>testing</p>

  </div>

  <div class = 'testing'>

    <p>testing</p>

  </div>

  <div class = 'testing'>

    <p>testing</p>

  </div>


  <div class="dataTable">
    <table id="example" class="display" width="100%"></table>


  </div>



  <script src='/scripts/test.js'>
  
  </script>
</body>
</html>